@use '../base/variables' as v;
@use '../base/mixins' as m;
.lista {
    width: 100%;
    margin: 4rem auto;
    border-spacing: 0;
    thead {
        background-color: #EB566E;
    }
    th {
        color: v.$blanco;
        padding: 1rem 0;
    }
    img {
        margin: 0 auto;
        width: 15rem;
    }
    a {
        margin: 0;
        margin-bottom: 1rem;
        padding: 1rem;
        display: block;
    }
    td {
        text-align: center;
        color: v.$negro;
    }
}
.form_ajustar {
    display: grid;
    place-items: center;
    &__btn{
        @include m.boton( #EB566E,v.$blanco);
        margin: 0;
    }
    a{
        margin: 0;
    }
}
.padding {
    padding: 0;
    margin: 0;
    // color: green;
}
.rojo{
    color: v.$blanco;
}
.posponer {
    display: grid;
    place-items: center;
    height: 100%;
    button {
        background-color: transparent;
        border: none;
        i {
            // background-color: red;
            color: red;
        }
    }
}
.tabla__fondo{
    background-image: url('../img/FondoRompecabezas.png');
    // background-position: bottom center;
    background-size: cover;
    // background-attachment:fixed;
    width: 100%;
    @include m.tablet {
        background-position: center center;
    }
    @include m.desktop {
        // background-size: cover;
        background-position: top center;
        width: 100%;  
    }
}
.tabla__rompe{
    background-image: url('../img/Rompecabezas/4girado.png'),url('../img/Rompecabezas/3girado.png');
    // background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    // background-attachment:fixed;
    width: 100%;
    @include m.tablet {
        // background-position: bottom center;
    }
    @include m.desktop {
        background-size: 23rem;
        background-position: left bottom,right;
        width: 100%;  
    }   
}