// Fuentes
//$fuentePrincipal: 'Raleway',
//sans-serif;
//$fuenteHeading: 'Staatliches',
//cursive;
$fuentePrincipal: 'Acme',
sans-serif;
$fuenteHeading: 'Chela One',
cursive;
$fuente3: 'Fredoka',
sans-serif;
$fuente4: 'Lemon',
cursive;
$fuente5: 'Monofett',
cursive;
// Tamaño de Media Queries
$telefono: 600px;
$tablet: 768px;
$desktop: 1024px;
// Colores
$primario: #5185FF;
$secundario: #819ee0;
$terciario: rgb(145, 178, 253);
$negro: #000;
$blanco: #FFFFFF;
$gris: #484349;
$grisClaro: #F2F2F2;
$azul: #0da6f3;
$rojo: #cb0000;
$verde:#329f00;
$negro: #1a1b15;
$titulo:#007A7A;
$recuadros:#BDECF2;
$botones:#FF5589;