@use 'base/variables' as v;
@use 'base/mixins' as m;
.footer {
    background-color: v.$primario;
    h3 {
        text-align: center;
    }
    &__grid {
        padding: 2rem;
        @include m.tablet {
            @include m.grid(4, 2rem);
        }
    }
}

.ubicacion {
    h3 {
        color: v.$blanco;
    }
    @include m.tablet {
        grid-column: 1/4;
    }
    &__contenido {
        margin-top: 2rem;
        display: grid;
        @include m.tablet {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            column-gap: 1rem;
        }
    }
    p {
        margin: .5rem 0 0 0;
    }
    i {
        color: v.$blanco;
        font-size: 1.5rem;
        margin-right: .5rem;
    }
    &__maks {
        display: grid;
        place-items: center;
    }
    &__itsx {
        object-fit: cover;
        width: 13rem;
        @include m.tablet {
            width: 12rem;
        }
    }
    &__txt {
        text-align: center;
        @include m.tablet {
            text-align: left;
        }
    }
    &__map {
        height: 20rem;
    }
    &__mapa {
        @include m.tablet {
            grid-column: 1/3;
        }
    }
    &__descripcion {
        @include m.telefono {
            display: grid;
            place-items: center;
        }
        @include m.tablet {
            grid-column: 3/5;
        }
    }
}

.redes {
    margin-top: 1rem;
    @include m.tablet {
        margin-top: 0;
    }
    &__iconos {
        margin-top: 2rem;
        font-size: 3rem;
        display: flex;
        justify-content: space-evenly;
        a {
            color: v.$blanco;
        }
    }
}

.copy {
    background-color: v.$terciario;
    padding: 1rem;
    p {
        text-align: center;
        font-weight: bold;
        margin: 0;
        color: v.$blanco;
    }
}