@use 'base/variables' as v;
@use 'base/mixins' as m;
.header {
    background-color: v.$primario;
    &__barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        display: flex;
        align-items: center;
    }
    &__img {
        width: 5rem;
        height: 5rem;
        object-fit: cover;
        @include m.tablet {
            width: 6rem;
            height: 6rem;
        }
    }
    &__titulo {
        color: v.$blanco;
        font-weight: bold;
        font-size: 2rem;
        margin-left: 1rem;
    }
}

// NAV
.nav {
    li {
        display: inline;
        padding: 1.3rem .4rem;
    }
    &__a {
        display: inline-block;
        margin-top: 1.6rem;
        font-size: 1.9rem;
        color: v.$blanco;
        i {
            margin-right: .6rem;
        }
        @include m.tablet {
            margin-right: 1.4rem;
        }
    }
    display: none;
    @include m.tablet {
        display: block;
    }
    &__img {
        width: 5rem;
        height: 5rem;
        object-fit: contain;
        // @include m.tablet {
        //     width: 4rem;
        //     height: 4rem.;
        // }
    }
}

.none {
    display: none;
    @include m.tablet {
        display: inline;
    }
}

.menu {
    i {
        color: v.$blanco;
    }
    @include m.tablet {
        display: none;
    }
}

// SubMenus
.nav>li {
    float: left;
}

.nav li ul {
    display: none;
    position: absolute;
    background-color: v.$primario;
}

.nav li:hover>ul {
    display: block;
    margin-top: 1rem;
}

.nav li ul li {
    position: relative;
}

.nav li ul li a {
    display: block;
    color: v.$blanco;
    &:hover {
        background-color: darken($color: v.$primario, $amount: 10);
    }
}

// Menu emergente
.contenedor-menu {
    //FIXME: Abrir menu
    @include m.tablet {
        display: none;
    }
    position: fixed;
    background-color: rgba($color: #000000, $alpha: .7);
    width: 100%;
    height: 100%;
    top: 7.5rem;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    a {
        text-align: center;
        display: block;
        color: v.$blanco;
        padding: 2rem;
        background-color: darken($color: v.$secundario, $amount: 15);
        margin: .5rem 0;
        transition: background-color, color .4s ease-in-out;
        &:hover {
            cursor: pointer;
            background-color: lighten($color: v.$primario, $amount: 15);
            font-weight: bold;
        }
        i {
            margin-right: .8rem;
        }
    }
}