@use 'base/variables' as v;
@use 'base/mixins' as m;
.hero {
    @include m.tablet {
        background-color: v.$secundario;
        height: 45rem;
    }
    &__descripcion {
        max-width: 50rem;
    }
}