@use 'base/variables' as v;
@use 'base/mixins' as m;
.hero {
    background-image: url(../img/fondo.jpg);
    background-image: linear-gradient(rgba( 57, 70, 89, .2) 0%, rgb( 57, 70, 89, .2) 100%), url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    @include m.telefono {
        height: 35rem;
    }
    @include m.tablet {
        height: 50rem;
    }
    &__descripcion {
        max-width: 50rem;
        color: v.$blanco;
        margin-top: 2rem;
        text-align: center;
        @include m.telefono {
            margin-top: 4rem;
        }
        @include m.tablet {
            text-align: left;
            margin-top: 5rem;
        }
    }
    &__grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        column-gap: 2rem;
        @include m.telefono {
            margin-top: 3rem;
            flex-direction: row;
        }
        @include m.tablet {
            margin-top: 1rem;
        }
    }
    &__img {
        height: 20rem;
        @include m.tablet {
            height: 40rem;
            object-fit: cover;
        }
    }
    &__titulo {
        text-align: center;
        font-size: 4rem;
        width: 100%;
        @include m.telefono {
            text-align: left;
            font-size: 5rem;
            margin-top: 4rem;
        }
        margin-top: 2rem;
        @include m.tablet {
            margin-top: 4rem;
        }
    }
}