.slider {
    overflow: hidden;
    position: relative;
    margin-top: 3rem;
    &__slide {
        height: 100%;
        flex-shrink: 0;
        width: 100%;
        position: relative;
        transition-property: transform;
    }
    &__paginacion {
        text-align: center;
        padding: .5rem 0;
    }
}