@use 'base/variables' as v;
@use 'base/mixins' as m;
.dos_columnas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.inicio{
    &__grid{
        margin-bottom: 3rem;
        @include m.tablet {
            @include m.grid(3,0);
        }
    }
    &__opcion1,&__opcion2,&__opcion3{
        padding: 5rem;
        color: v.$blanco;
        text-align: center;
    }
    &__opcion1{
        background-color: #73C5EA;
    }
    &__opcion2{
        background-color: #FFD248;
    }
    &__opcion3{
        background-color: #EE6C7F;
    }
}
.verde{
    background-color: #95c11f;
}
.btn_uno,.btn_dos{
    @include m.boton(v.$botones,v.$blanco);
}