@use 'base/variables' as v;
@use 'base/mixins' as m;
.login{
    &__grid{
        @include m.grid(2,1rem);
    }
}

.centrar-contenido{
    margin: 0 auto;
}
.recuadro__form{
    display: inline-block;
    width: auto;
    p{
        padding:2rem 9rem ;
        background-color: #F9B14A;
        display: inline-block;
        text-transform: uppercase;
        color: v.$blanco;
        font-weight: bold;
        font-size: 3rem;
    }
}
.formulario{
    border: .2rem solid #606060;
    padding: 2rem 1rem 0 1rem;
    margin: 1rem 0 2rem 0;
}